# Coverage
coverage/

# Tests
tests/

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# Husky
.husky

# ESLint
.eslintrc.json
